*{margin: 0;padding: 0;}
    h2,.mindart{
        font-family:"Times New Roman",Georgia,Serif,Arial,Verdana,Sans-serif;
        font-style: italic;
        color: #c1bb9c;
        font-size: 16px;
    }
    p{
        font-size: 13px;
    }
    a{
        text-decoration: none;
        font-family:Arial,Verdana,Sans-serif; 
        color: #b7a5df;
        font-weight: bold;
    }
    .content a:hover{
        text-decoration: underline;
        color: #9685ba;
    }
    a:visited{
        color: #d4cddc;
    }
    ul{
        list-style-type: none;
    }

    .wrap{

        background: url("img/2.jpg") no-repeat left top/350px 250px,
                    url("img/3.jpg") no-repeat right bottom/450px 250px,
                    url("img/8.jpg") no-repeat right 25px/100px 80px;
    }
    .content{
        margin-left: 100px;
        margin-right:100px;
        background-color: rgba(255,255,255,.7);
        padding:120px 10px 50px 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        z-index: 2;
        /*border:1px solid linear-gradient(to bottom,white,black) ; */  
    }
    .mindart{
        font-weight: bolder;
        font-size: 45px;
        width: 300px;
        height: 80px;
        position: absolute;
    }
    .zen{
        left: 0;
        top:0;
        padding: 15px 0px 0px 15px; 
    }
    .garden{
        left: 80px;
        top: 60px;   
    }
    .right-top-text{
        position: absolute;
        right: 20px;
        top: 50px;
        font-size: 15px;
        color: #d3d1c6; 
    }
    .sidebar{
        width: 150px;
        height: 280px;
        padding:30px 7px 10px 2px ; 
        float: left;
        text-align: center;
        line-height: 1.4em;
        font-style: italic;
    }
    .footer{
        padding-top: 30px;
        text-align: center;
    }
    .footer ul li {
         padding-left: 20px;
         display: inline;
    }
    .nav{
        border-radius: 5px;
        padding:20px 0 20px 0 ; 
        position: absolute;
        right: 0;
        margin-top: 100px;
        background: #e0dec7;
    }
    .nav ul{
        font-size: .7em;
        width: 100px;
    }
    .nav li{
        position: relative;
        color: #c2bb9a;
        padding-top: 7px;
        padding-left: 5px;
        padding-bottom: 7px;
    }
    .nav li a{
        color: #988f5e;
        text-decoration: none;
    }
    .nav li a:hover{
        text-decoration: underline;
    }
    .nav li::after{
        content: "";
        height: 1px;
        background:#d7cfb7;
        position: absolute;
        bottom: 0;
        right: 12px;
        left: 12px;
        margin-top: 17px;
    }
    .nav .nav-text{
        font-size: 15px;
        text-shadow: -1px -1px white;
    }
    @media screen and (max-width:550px){
          .nav{display: none;}
          .text{
            clear: left;
          }
    }
    .nav ul > li:nth-child(4)::after{
        width: 0;
        height: 0;
    }
    .nav ul > li:nth-child(6)::after{
        width: 0;
        height: 0;
    }
    .nav ul > li:nth-child(10)::after{
        width: 0;
        height: 0;
    }
    .nav ul > li:nth-child(12)::after{
        width: 0;
        height: 0;
    }
    /*.no{
        width: 150px;
        height: 200px;
        position: absolute;
        right: 0;
        bottom: 0;
        box-shadow: 3px 3px 1px #F0F0F0;  
    }*/
    .content::before{
        content: "";
        display: block;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 2px;
        left: 0px;
        box-shadow: -2px -2px 2px #ccc;
    }
    .content::after{
        content: "";
        display: block;
        width: 200px;
        height: 200px;
        position: absolute;
        z-index: -1;
        right: 2px;
        bottom: 2px;
        box-shadow: 3px 2px 2px #ccc;
    }
    .text-one{
        margin-top: 20px;
    }
    .left-top-text{
        position: absolute;
        top: 2px;
        left: 10px;
        width: 30px;
        border: 2px solid #a39d91;
        color: #a39d9a;
        padding: 3px;
        text-align: center;
        background-image: linear-gradient(to bottom,#eff2dd,#bfb9a5)
    }